.connect-section {
    text-align: center;
}

.connect-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.connect-section p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.social-icons{
    line-height: 0;
    font-size: 0;
}
    
.icon{
    width: 32px;
    height: 32px;
    margin: 0 10px;
    vertical-align: middle;    
    display: inline-block;    
    transition: transform 0.3s;
    font-size: initial;
}

.icon:hover{
    transform: scale(1.1);
}